.content {
    width: 100vw;
    min-height: 100vh;
    background: #F7F7F7;
}

.blog {
    /* margin: 10px; */
    min-height: 100%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.me,
.menu {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.me {
    padding: 20px;
    height: 158px;
}

.blog-content {
    /* padding: 25px; */
}

.data {
    width: 20%;
    right: 9%;
    position: fixed;
}