:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  min-height: 100%;
  z-index: 999;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  height: 48px;
}

.app-header {
  position: relative;
  height: 48px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.ant-menu {
  height: 48px;
}

.ant-menu-item {
  height: 48px;
}

.ant-menu-horizontal>.ant-menu-item,
.ant-menu-horizontal>.ant-menu-submenu {
  vertical-align: baseline !important;
}

nz-content {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  overflow: auto;
  z-index: 2;
  /* color: white; */
}

.blog_title {
  margin: 0;
}

/* 主体 */
.inner-content {
  width: 55%;
  /* text-align: center; */

  padding: 24px;
  background: #fff;
  height: fit-content;
  border-radius: 6px;

  /* overflow: auto; */
}

/* 右边的侧边信息栏 */
.side_bar {
  width: 16%;
  margin-left: 1%;
  /* padding: 24px; */
  /* background: #fff; */
  border-radius: 6px;
  height: 100%;
}

.me_box {
  width: 100%;
  height: 40vh;
  background: #fff;
  border-radius: 6px;
}

.website_box {
  width: 100%;
  height: 30vh;
  background: #fff;
  border-radius: 6px;
  margin-top: 20px;
}

.info {
  /* width: 100%; */
  /* height: 200px; */
  /* background: #fff; */
  border-radius: 6px;
  margin-top: 20px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: start;
}

.website_info {
  margin-top: 10px;
  margin-left: 15px;
}

.github_icon {
  /* margin-left: 50px; */
  font-size: large;
  cursor: pointer;
}

.title_text {
  text-align: start;
  margin-left: 3%;
}

.user_name {
  margin-top: 10px;
}

.route_button {
  width: 80px;
}

.route_button:hover {
  background-color: lightgray;
}

.head {
  margin-left: 20px;
  height: 100%;
  cursor: pointer;
}

.title {
  margin-left: 10px;
}

.background-overlay {
  position: fixed;
  /* 固定位置，保证不随滚动条移动 */
  top: 0;
  left: 0;
  width: 100vw;
  /* 全屏宽度 */
  height: 100vh;
  /* 全屏高度 */
  background-color: rgba(128, 128, 128, 0.5);
  /* 半透明灰色 */
  z-index: -1;
  /* 设置负层叠顺序，确保在所有元素下方 */
}

.vanta-container {
  width: 100%;
  height: 100%;
  position: absolute;
  /* 相对于父元素绝对定位，覆盖整个背景 */
  top: 0;
  left: 0;
  z-index: 0;
  /* 确保在蒙层的中间层级 */
}