<!-- 首页 -->
<app-welcome *ngIf="isHomePage"></app-welcome>
<nz-layout class="app-layout" *ngIf="!isHomePage">
  <nz-layout>
    <nz-header @QuickDown>
      <div class="app-header" nz-flex [nzVertical]="false" [nzJustify]="'space-between'" [nzAlign]="'center'">
        <div class="head" nz-flex [nzVertical]="false" [nzAlign]="'center'" [nzGap]="'large'" [routerLink]="['/']">
          <nz-avatar nzSize="small" nzIcon="user" nzSrc="../assets/img/猫娘.jpg"></nz-avatar>
          <h3 class="blog_title kuaile_text" nz-typography>花墨</h3>
        </div>

        <ul nz-menu nzMode="horizontal" [nzInlineIndent]="12" nz-flex nzAlign="center" nzJustify="center">
          <li nz-menu-item [routerLink]="['/']" nz-flex nzAlign="center" nzJustify="center">
            <span nz-icon nzType="home" nzTheme="outline"></span>
            首页
          </li>
          <li nz-menu-item [routerLink]="['/blog']">
            <span nz-icon nzType="align-left" nzTheme="outline"></span>
            博客
          </li>
          <!-- <li nz-menu-item [routerLink]="['/留言']">
            <span nz-icon nzType="file" nzTheme="outline"></span>
            留言
          </li> -->
          <li nz-menu-item [routerLink]="['/关于我']">
            <span nz-icon nzType="user" nzTheme="outline"></span>
            关于我
          </li>
          <!-- <li nz-menu-item>
            <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
          </li> -->
        </ul>
      </div>
    </nz-header>
    <!-- <div class="overlay"></div>  -->

    <nz-content>
      <router-outlet> </router-outlet>

    </nz-content>
  </nz-layout>
</nz-layout>