/* You can add global styles to this file, and also import other style files */
/* @import 'bytemd/dist/index.css'; */

@import url('app/common_ui/css/markdown-qklhk.css');

body {
    background-color: #F7F7F7;
}

.kuaile_text {
    font-family: "ZCOOL KuaiLe", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(36, 36, 36)
}

::-webkit-scrollbar {
    display: none;
}

.zcool-kuaile-regular {
    font-family: "ZCOOL KuaiLe", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(36, 36, 36)
}


.ant-card-meta-title {
    font-size: 20px;
    font-weight: bold;
    font-family: '微软雅黑';
    text-align: start;
}

.ant-card-meta-description {
    font-size: 16px;
    font-family: '微软雅黑';
    font-weight: 400;
    color: rgb(100, 100, 100);
    white-space: pre-line
}

.ant-layout-header {
    background-color: rgba(128, 128, 128, 0.5);
}

.ant-collapse-header-text {
    text-align: center;
}


.ant-collapse-header {
    background-color: #fff;
    margin: 5px;
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    cursor: pointer;
    padding: 0 !important;
}

.ant-list-items {
    background-color: #fff;
}

.ant-page-header-ghost {
    border-radius: 10px;
}

.ant-anchor-wrapper {
    margin: 20px;
    font-weight: bold;
}