<div class="content" nz-flex [nzVertical]="false" nzJustify="center">
  <div class="blog" @QuickUp>
    <div *ngFor="let item of blogData" class="blog_box" (click)="Detail(item)">
      <nz-skeleton [nzActive]="true" [nzLoading]="loading">
        <div class="combination-wrapper" nz-flex [nzGap]="'large'" nzAlign="center">
          <div nz-flex [nzVertical]="true" nzJustify="center" style="width: 100%;">
            <h4 nz-typography> {{item.title}} </h4>
            <!-- <p nz-typography style="color: gray;"> {{item.description}} </p> -->
            <p nz-typography class="blog_content"> {{item.content}} </p>
          </div>
          <!-- 决定删除博客的图片功能 -->
          <!-- <img nz-image width="80" height="80" *ngIf="item.image" [nzSrc]="baseUrl + item.image" [nzFallback]="fallback"
            alt="" /> -->
        </div>
        <div nz-flex nzAlign="center" nzJustify="space-between" style="margin-top: 5px;">
          <div style="color: rgb(200, 200, 200);" nz-flex nzAlign="center" nzGap="small">
            <!-- <span nz-icon nzType="eye" nzTheme="outline">{{ item.views }}&nbsp;</span> -->
            {{ item.date | date:'yyyy-MM-dd HH:mm' }}
            <nz-divider nzType="vertical"></nz-divider>
            <ng-container *ngFor="let tag of item.tag">
              {{ tag }}
            </ng-container>
          </div>
        </div>
        <nz-divider style="width: 40%;min-width: 0;margin: 0;margin-top:25px;padding: 0;"></nz-divider>
      </nz-skeleton>
    </div>
    <div class="pagination">
      <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="blogCount" nzSimple
        (nzPageIndexChange)="pageIndexChange($event)"></nz-pagination>
    </div>
  </div>

  <div class="data" @SlowUp nz-flex nzVertical>
    <div class="me" nz-flex nzVertical="false" nzAlign="center" nzJustify="start" nzGap="middle">
      <nz-avatar [nzSize]="96" nzSrc="../../../assets/img/再花猫猫头.png" nzShape="square"></nz-avatar>
      <div nz-flex nzVertical>
        <h5 nz-typography>再花</h5>
        <span nz-typography nzType="secondary">前端工程师</span>
      </div>
    </div>
    <div class="menu">
      <div nz-flex nzVertical="true" nzJustify="start">
        <div>
          <div nz-flex nzGap="middle" nzAlign="center">
            <h3 nz-typography class="kuaile_text">标签</h3>
            <span nz-typography nzType="secondary">点击可筛选</span>
          </div>
          <div style="padding: 10px;" nz-flex [nzWrap]="'wrap'">
            <!-- TODO:修改为热门标签筛选 -->
            <!-- <strong>Categories:</strong>
            @for (tag of hotTags; track $index) {
              <nz-tag
                nzMode="checkable"
                [nzChecked]="selectedTags.indexOf(tag) > -1"
                (nzCheckedChange)="handleChange($event, tag)"
              >
                {{ tag }}
              </nz-tag>
            } -->
            <nz-tag (click)="searchByTag()" style="cursor: pointer;">全部</nz-tag>
            @for (tag of tagList; track $index) {
            <nz-tag nzMode="checkable" [nzChecked]="selectedTags.indexOf(tag.label) > -1"
              (nzCheckedChange)="handleChange($event, tag.label)">
              {{ tag.label }}
            </nz-tag>
            }
            <!-- <nz-tag *ngFor="let item of tagList" [nzColor]="item.color" style="cursor: pointer;"
              (click)="searchByTag(item.label)">
              <span>{{ item.label }}</span>
            </nz-tag> -->
          </div>
        </div>
        <nz-divider></nz-divider>
        <div>
          <h3 nz-typography class="kuaile_text">文章已发布 <span style="color: lightblue;">{{ total }}</span> 篇</h3>
          <h3 nz-typography class="kuaile_text">总阅读量 <span style="color: lightblue;">{{ totalViews }}</span> </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="100">
  <ng-template #tpl>
    <span nz-icon nzType="rocket" nzTheme="outline" style="font-size: 48px;"></span>
  </ng-template>
</nz-back-top>