.content {
  width: 100vw;
  min-height: 100vh;
}

.blog {
  width: 60%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  overflow-y: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.data {
  width: 20%;
}

.me,
.menu {
  padding: 20px;
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.me {
  height: 158px;
}

.menu {
  height: 305px;
}

.blog_content {
  color: rgb(100, 100, 100);
  display: -webkit-box;
  /* 使用弹性盒子布局 */
  -webkit-box-orient: vertical;
  /* 设置盒子的方向为垂直 */
  overflow: hidden;
  /* 隐藏溢出文本 */
  text-overflow: ellipsis;
  /* 使用省略号表示溢出的文本 */
  -webkit-line-clamp: 3;
  /* 限制显示的行数为 3 */
  line-clamp: 3;
  /* 最新浏览器支持 */
  max-height: 5em;
  /* 根据行高计算出最多显示的高度 */
}

.blog_box {
  padding: 25px 25px 0 25px;
  /* margin: 10px; */
  /* border-bottom: 1px solid #EDEFF2; */
  cursor: pointer;
}

.blog_box:hover {
  background-color: #F7F8FA;
}

.ant-skeleton-content {
  max-height: 110px;
}

.pagination {
  text-align: center;
  margin: 25px;
}