<div class="content" nz-flex [nzVertical]="false" nzJustify="center" *ngIf="!isMobile">
  <div class="blog" @QuickUp nz-flex nzVertical nzGap="small">
    <div *ngFor="let item of blogData" class="blog_box" (click)="Detail(item)">
      <div class="combination-wrapper" nz-flex [nzGap]="'middle'" nzAlign="center">
        <div nz-flex [nzVertical]="true" nzJustify="center" [nzGap]="'middle'" style="width: 100%;">
          <h4 nz-typography> {{item.title}} </h4>
          <p class="blog_content" nz-typography nzEllipsis [nzContent]="item.content" [nzEllipsisRows]="2"></p>
        </div>
      </div>
      <div nz-flex nzAlign="center" nzJustify="space-between" style="margin-top: 5px;">
        <div style="color: rgb(200, 200, 200);" nz-flex nzAlign="center" nzGap="small">
          {{ item.date | date:'yyyy-MM-dd' }}
          <nz-divider nzType="vertical"></nz-divider>
          <ng-container *ngFor="let tag of item.tag">
            {{ tag }}
          </ng-container>
        </div>
      </div>
      <!-- <nz-divider style="width: 40%;min-width: 0;margin: 0;margin-top:25px;padding: 0;"></nz-divider> -->
    </div>
    <div class="pagination">
      <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="blogCount" nzSimple
        (nzPageIndexChange)="pageIndexChange($event)"></nz-pagination>
    </div>
  </div>

  <div class="data" @SlowUp nz-flex nzVertical>
    <div class="me" nz-flex nzVertical="false" nzAlign="center" nzJustify="start" nzGap="middle">
      <nz-avatar [nzSize]="96" nzSrc="../../../assets/img/再花猫猫头.png" nzShape="square"></nz-avatar>
      <div nz-flex nzVertical>
        <h5 nz-typography>再花</h5>
        <span nz-typography nzType="secondary">前端工程师</span>
      </div>
    </div>
    <div class="menu">
      <div nz-flex nzVertical="true" nzJustify="start">
        <div>
          <div nz-flex nzGap="middle" nzAlign="center">
            <h3 nz-typography class="kuaile_text">标签</h3>
            <span nz-typography nzType="secondary">点击可筛选</span>
          </div>
          <div style="padding: 10px;" nz-flex [nzWrap]="'wrap'">
            <nz-tag (click)="searchByTag()" style="cursor: pointer;">全部</nz-tag>
            @for (tag of tagList; track $index) {
            <nz-tag nzMode="checkable" [nzChecked]="selectedTags.indexOf(tag.label) > -1"
              (nzCheckedChange)="handleChange($event, tag.label)">
              {{ tag.label }}
            </nz-tag>
            }
          </div>
        </div>
        <nz-divider></nz-divider>
        <div>
          <h3 nz-typography class="kuaile_text">文章已发布 <span style="color: lightblue;">{{ total }}</span> 篇</h3>
          <h3 nz-typography class="kuaile_text">总阅读量 <span style="color: lightblue;">{{ totalViews }}</span> </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content" nz-flex [nzVertical]="false" nzJustify="center" *ngIf="isMobile">
  <div class="blog_mobile" @QuickUp nz-flex nzVertical nzGap="small">
    <div *ngFor="let item of blogData" class="blog_card_mobile" (click)="Detail(item)">
      <div class="combination-wrapper" nz-flex [nzGap]="'midlle'" nzAlign="center">
        <div nz-flex [nzVertical]="true" nzJustify="center" style="width: 100%;">
          <h4 nz-typography> {{item.title}} </h4>
          <p class="blog_content" nz-typography nzEllipsis [nzContent]="item.content" [nzEllipsisRows]="2"></p>
        </div>
      </div>
      <div nz-flex nzAlign="center" nzJustify="space-between" style="margin-top: 5px;">
        <div style="color: rgb(200, 200, 200);" nz-flex nzAlign="center" nzGap="small">
          {{ item.date | date:'yyyy-MM-dd' }}
          <nz-divider nzType="vertical"></nz-divider>
          <ng-container *ngFor="let tag of item.tag">
            {{ tag }}
          </ng-container>
        </div>
      </div>
      <nz-divider style="width: 40%;min-width: 0;margin: 0;margin-top:25px;padding: 0;"></nz-divider>
    </div>
    <div class="pagination">
      <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="blogCount" nzSimple
        (nzPageIndexChange)="pageIndexChange($event)"></nz-pagination>
    </div>
  </div>
</div>

<nz-back-top></nz-back-top>